$color-front-default: #003950;
$color-front-default_opacity: rgba($color-front-default, 0.5);
$enable-rounded:false;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');