@import "variables";

.main_header{
  .main_header_image{
    background-image: url("../../assets/banner.jpg");
    background-repeat: no-repeat;
    height: 500px;
    .h1{
      height: 100%;
    }
  }
}

*, *:before, *:after{
  outline: none !important;
}
