@import "variables";

*{
  font-family: 'Roboto', sans-serif;
}

.main_header{
  .main_header_image{
    background-image: url("../../assets/banner.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    height: 600px;
    .main_header_image_filter{
      background-color: $color-front-default_opacity;
      h4{
        font-size: 30px/1.4em;
      }
      h1{
        font-size: 75px;
        font-weight: 500;
      }
      p{
        font-size: 20px;
      }
    }
  }
  .main_header_asing {
    h3{
      font-family: 'Abril Fatface', cursive;
      font-weight: 500;
    }
    p{
      font-size: 18px;
    }
    .main_header_asing_image {
      width: 150px;
      border-radius: 50%;
      height: 150px;
      object-fit: cover;
      object-position: 0 60%;
    }
    .main_header_asing_icons{
      a{
        font-size: 25px;
      }
    }
  }
}

.academic_training_and_experencies{
  .academic_training_box{
    span{
      font-size: 17px;
      color: #000;
    }
    p{
      font-size: 15px;
    }
  }
  .experencies_box{
    span{
      font-size: 17px;
      color: #000;
    }
    p{
      font-size: 15px;
    }
  }
}

.interests_and_contact{
  .contacts{
    .contacts_mail_and_phone{
      a{
        &:hover{
          text-decoration: none;
        }
      }
    }
    .contacts_icons{
      a{
        font-size: 25px;
      }
    }
  }
}

.main-footer{
  p{
    font-size: 12px;
  }
}

*, *:before, *:after{
  outline: none !important;
}
